// .c-modal {
// }

.c-ttl {
  @include ttl;
  &--work {
    font-size: 50px;
    margin-bottom: 10px;
    &-sub {
      font-size: 20px;
    }
  }
  &--sub {
    font-size: 0.9rem;
    color: $color_black;
    padding: 5px 0 20px;
    text-align: center;
    letter-spacing: 0.5rem;
    @include sp {
      font-size: 0.8rem;
    }
  }
}

.c-txt {
  @include txt;
  &--small {
    font-size: 0.8rem;
    color: $color_black;
  }
}

.c-btn {
  cursor: pointer;
  margin: 20px auto;
  max-width: 200px;
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
  background: $color_black;
  color: $color_white;
  font-weight: bold;
  border-radius: 100px;
  &:hover {
    text-decoration: none;
    background: $color_darkgray;
    transition: 0.5s;
  }
}

.c-modal {
  z-index: 3;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  background: $color_white;
  @include flex-pare;
  &-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $color_black;
    opacity: 0.7;
  }
  &__inner {
    background: $color_white;
    width: 100%;
    // height: 100%;
    text-align: center;
    padding: 30px;
    margin: auto;
    z-index: 3;
  }
  &.is-fadeout {
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
  }
}

.c-ham {
  .c-hamburger {
    position: fixed;
    top: 0;
    right: 0rem;
    height: 80px;
    width: 80px;
    background: $color_black;
    pointer-events: auto;
    cursor: pointer;
    &__line {
      background: $color_white;
      width: 43px;
      height: 2px;
      position: absolute;
      transition: 0.3s;
      @include sp {
        width: 38px;
        height: 2px;
      }
      &:nth-child(1) {
        top: 1.4rem;
        right: 1.1rem;
        &.is-active {
          -webkit-transform: translateY(14px) rotate(-45deg);
          transform: translateY(14px) rotate(-45deg);
        }
      }
      &:nth-child(2) {
        top: 2.25rem;
        right: 1.1rem;
        &.is-active {
          opacity: 0;
          transition: 0.3s;
        }
      }
      &:nth-child(3) {
        top: 3.1rem;
        right: 1.1rem;
        &.is-active {
          -webkit-transform: translateY(-14px) rotate(45deg);
          transform: translateY(-14px) rotate(45deg);
        }
      }
    }
    .usage {
      &.is-hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  .ham-nav {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color_white;
    z-index: -1;
    transition: 0.4s;
    pointer-events: auto;
    @include flex-pare;
    align-items: center;
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
    &-header {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      margin: 30px auto;
    }
    &__inner {
      margin: auto;
      text-align: center;
    }
    &__item {
      margin: 23px 0;
      font-size: 1.7rem;
      letter-spacing: 0.1rem;
      a {
        text-emphasis: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .usage-link {
      cursor: pointer;
      &hover {
        text-decoration: underline;
      }
    }
  }
  .usage {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color_white;
    z-index: -1;
    pointer-events: auto;
    @include flex-pare;
    align-items: center;
    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }
}
