// .c-modal {
// }

.c-ttl {
  @include ttl;
  &--work {
    font-size: 50px;
    margin-bottom: 10px;
    &-sub {
      font-size: 20px;
    }
  }
  &--sub {
    font-size: 0.9rem;
    color: $color_black;
    padding: 5px 0 20px;
    text-align: center;
    letter-spacing: 0.5rem;
    @include sp {
      font-size: 0.8rem;
    }
  }
}

.c-txt {
  @include txt;
  &--small {
    font-size: 0.8rem;
    color: $color_black;
  }
}

.c-btn {
  cursor: pointer;
  margin: auto;
  max-width: 200px;
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
  background: $color_black;
  color: $color_white;
  font-weight: bold;
  border-radius: 100px;
  &:hover {
    text-decoration: none;
    background: $color_darkgray;
    transition: 0.5s;
  }
}
