.header {
  @include flex-pare;
  &.container {
    margin-bottom: 50px;
  }
  &-logo {
    width: 300px;
    margin: auto;
  }
  &-nav {
    &__inner {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 1rem;
      right: 0;
      @include tab {
        display: block;
        position: relative;
        text-align: center;
        margin-top: 20px;
      }
    }
    &__item {
      display: inline-block;
      padding: 0px 15px;
      a {
        text-decoration: none;
        color: $color_gray;
      }
    }
  }
}
