.page {
  &__inner {
    padding: 30px;
  }

  &__header {
    @include flex-pare;
    &.container {
      margin-bottom: 50px;
    }
    &__logo {
      width: 163px;
      margin-top: 40px;
      @include tab {
        margin: auto;
        margin-bottom: 20px;
      }
    }
    &-nav {
      &__inner {
        display: flex;
        justify-content: flex-end;
        position: absolute;
        bottom: 1rem;
        right: 0;
        @include tab {
          display: block;
          position: relative;
          text-align: center;
          margin-top: 20px;
        }
      }
      &__item {
        display: inline-block;
        padding: 0px 15px;
        a {
          text-decoration: none;
        }
      }
    }
  }
  &__work {
    margin-top: 50px;
    &__sec {
      // margin-bottom: 20px;
    }
    &__img {
      margin: 0 auto 50px;
      text-align: center;
      img {
        max-height: 500px;
        width: auto;
        max-width: 90%;
      }
    }
    &__ttl {
      @include flex-pare;
      margin: 0 auto 10px;
      width: 100%;
      height: 100%;
    }
    &__des {
      a {
        text-decoration: underline;
      }
    }
    &__others {
      padding-top: 50px;
    }
  }
  &__footer {
    text-align: center;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
  }
  // &__inner {
  //   padding: 5% 0 0;
  //   width: 90%;
  //   max-width: 1000px;
  //   margin: auto;
  //   @include flex-pare;
  // }
  // &__img {
  //   margin: auto;
  //   width: 100%;
  // }
  // .c-txt {
  //   padding: 0 30px;
  // }
  // .sub-img {
  //   margin: 50px auto;
  //   img {
  //     margin: 10px auto;
  //     width: 100%;
  //     height: 100%;
  //   }
  // }
  // .banner {
  //   cursor: pointer;
  // }
  // .c-btn {
  //   margin: 70px auto 40px;
  //   i {
  //     font-size: 1.5rem;
  //     transform: translateY(3px);
  //     margin-right: 10px;
  //   }
  // }
}
