.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-100 {
  margin-bottom: 100px;
}

.u-ta-l {
  text-align: left;
}

.u-ta-r {
  text-align: right;
}

.u-ta-c {
  text-align: center;
}

.u-td-ul {
  text-decoration: underline;
}
