$color_white: #ffffff;
$color_black: #000000;

$color_gray: #cccccc;
$color_darkgray: #707070;
$color_lightgrey: #cfcfcf;

$color_primary: #ffb6b9;
$color_secondary: #beebe9;

$font_jp: "Didact Gothic", "Noto Serif JP", sans-serif;
