@import "./node_modules/bootstrap/scss/bootstrap";

@import "./include/function";
@import "./include/mixin";
@import "./include/reset";
@import "./include/variable";
@import "./include/component";
@import "./include/header";
@import "./include/footer";
@import "./include/pages";

body {
  background-color: $color_white;
  font-family: $font_jp;
  line-height: normal;
}

a {
  color: $color_black;
  outline: none;
  text-decoration: underline;
  &:hover {
    color: $color_black;
  }
}

img {
  width: 100%;
}

*:focus {
  outline: none;
}
a-scene {
  z-index: 0;
}

a-modal {
  display: none;
}

.loading {
  width: 100%;
  height: 100%;
  background: $color_white;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  .c-ttl {
    margin-top: -10px;
    font-size: 3rem;
    color: $color_black;
    pointer-events: none;
  }
  &.js-up {
    opacity: 0;
    transition: 0.3s;
  }
}

.container {
  width: 80%;
  max-width: 900px;
  margin: auto;
}

.work {
  &__sec {
    margin-bottom: 50px;
  }
  &__ttl {
    @include flex-pare;
    margin: auto;
    width: 100%;
    height: 100%;
    @include tab {
      padding: 0 0 30px;
    }
  }
}

.room-ui {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  @include flex-pare;
  .room__first-modal {
    .c-modal__logo {
      position: absolute;
      top: 0;
      width: 200px;
    }
    &__tuto-img {
      width: 200px;
      margin: 30px auto;
    }
    .c-btn {
      margin: 30px auto;
    }
  }
  &__room-name {
    z-index: 1;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: 30px auto;
    color: $color_white;
    font-weight: bold;
  }
}
